@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Roboto, system-ui, sans-serif;
      font-size: 1rem;
      color: #707070;
      font-weight: bold;
    }
    a {
      text-decoration: underline;
    }
    h1 {
      @apply text-3xl md:text-5xl my-8;
    }
    h2 {
      @apply text-xl my-6;
    }
    p {
      @apply mb-8
    }
  }